.x-svg {
    display: block;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.modal-info {
    color: black;
}

.status-container {
    display: flex;
    justify-content: flex-start;
}

.status-container p {
    margin: 0;
    padding: 0;
    margin-right: 6px;
}

.edit-status-p {
    cursor: pointer;
}

.edit-status-p:hover {
    text-decoration: underline;
}

.status-edit-div button {
    color: black;
    background-color: lightblue;
}